[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule ".config/qutebrowser/qutewal"]
	path = .config/qutebrowser/qutewal
	url = https://github.com/hallonfras/qutewal
